@model ColeoWeb.Models.ProjectStatusViewModel

@{
    ViewBag.Title = "Edit";


}

@Scripts.Render("~/Scripts/pick-a-color-1.2.3.min.js")
@Scripts.Render("~/Scripts/tinycolor-0.9.15.min.js")
@Styles.Render("~/Content/pick-a-color-1.2.3.min.css")

<h2>Edit Project Status</h2>

<div class="col-md-12">
    @using (Ajax.BeginForm("Edit",
                        new AjaxOptions
                        {
                            UpdateTargetId = "edit-projectstatus",
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            OnSuccess = "ShowIndex();"
                        }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Id);
        @Html.HiddenFor(m => m.Order);

        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Name)
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.IsDefault)
                    </div>
                    <div class="col-md-5">
                        @{
                                     //Dictionary<string, object> dic = new Dictionary<string, object>();
                                     //dic.Add("data-toggle", "toggle");
                                     //dic.Add("data-onstyle", "default");

                                    @Html.CheckBoxFor(m => m.IsDefault, new { @id="is-default"});
                        }
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Color)
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Color, new { @class = "pick-a-color form-control", @name = "color-picker" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <button type="submit" id="save" class="btn btn-default btn-sm pull-right">
                            <span class="glyphicon glyphicon-floppy-save"></span> Save
                        </button>
                    </div>
                </div>

            </div>
        </div>
    }
</div>

<script>
    function ShowIndex() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("List", "ProjectStatus")',
            success: function (response) {
                $("#index-projectstatus").html(response);
            },
            error: function () {
                alert("error occured");
            }
        });
    }

    $(document).ready(function () {
        $(".pick-a-color").pickAColor({
            showSpectrum: true,
            showSavedColors: true,
            saveColorsPerElement: false,
            fadeMenuToggle: true,
            showHexInput: true,
            showBasicColors: true,
            allowBlank: false,
            inlineDropdown: false
        });
    });

    $(function () {
        $('#is-default').bootstrapToggle();
    })
</script>

