@{
    ViewBag.Title = "Project Statuses ";
}
@Styles.Render("~/Content/bootstrap-toggle.min.css")
@Scripts.Render("~/Scripts/bootstrap-toggle.min.js")

@Scripts.Render("~/Scripts/js-ProjectStatus.js")

<div id="list-projectstatus" class="col-md-8 col-md-offset-2">
    @{Html.RenderAction("List");}
</div>


<div id="edit-projectstatus" class="col-md-8">

</div>


<script>

    $(document).ready(function () {
        //set up notifications defaults
        NotificationDefaults();

        urlEdit = '@Url.Action("Edit", "ProjectStatus")';
        urlIndex = '@Url.Action("Index", "ProjectStatus")';
        urlList = '@Url.Action("List", "ProjectStatus")';
        urlDelete = '@Url.Action("Delete", "ProjectStatus")';
        urlOrder = '@Url.Action("Reorder", "ProjectStatus")';

        divList = $('#list-projectstatus');
        divEdit = $('#edit-projectstatus');

        alertDeleteSucces = 'Project status deleted!';
        alertDeleteError = 'The project status that you attempted to delete it is attached to a project therefore it can not be deleted!';
    });

</script>


