@{
    ViewBag.Title = "Project Statuses ";
}
@Styles.Render("~/Content/bootstrap-toggle.min.css")
@Scripts.Render("~/Scripts/bootstrap-toggle.min.js")
@Scripts.Render("~/Scripts/notify.js")
@Styles.Render("~/Content/animate.css")




<div class="row">
    <div id="index-projectstatus" class="col-md-4">
        @{Html.RenderAction("List");}
    </div>


    <div id="edit-projectstatus" class="col-md-7 pull-right">

    </div>
</div>

<style>
    [data-notify="container"]{
        width: 15%;
    }

</style>

<script>
    function ShowList() {
        // re post the list with the updated item
        $.ajax({
            type: "GET",
            url: '@Url.Action("List", "ProjectStatus")',
            success: function (response) {
                $("#index-projectstatus").html(response);
            },
            error: function () {
                alert("error occured");
            }
        });

        // validate form for alert
        $.validator.unobtrusive.parse($("#edit-projectstatus"));
    }

    // notifications defaults
    $.notifyDefaults({
        type: "success",
        allow_dismiss: false,
        newest_on_top: true,
        delay: 1000,
        placement: {
            from: "top",
            align: "right"
        },
        animate: {
            enter: 'animated fadeInDown',
            exit: 'animated fadeOutUp'
        },
        offset: {
            x: 30,
            y: 65
        }
    });
</script>


