@model IList<ColeoWeb.Models.ProjectStatusViewModel>

@{
    ViewBag.Title = "List";
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-12">
                <h2> <span> Project Statuses </span> </h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("List", "ProjectStatus", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12">
            <div class="form-group row">
                @for (var i = 0; i < Model.Count; i++)
                {
                    <div class="panel panel-primary">
                        <div class="panel-body item" style="background-color: #@Model[i].Color;">
                            @Html.HiddenFor(m => m[i].Id)
                            @Html.HiddenFor(m => m[i].Name)
                            @Html.HiddenFor(m => m[i].Color)
                            @Html.HiddenFor(m => m[i].IsDefault)
                            @Html.HiddenFor(m => m[i].Order, new { @class = "position" })
                            @Html.DisplayFor(m => m[i].Name)

                            <button id="edit-btn" class="btn btn-default btn-sm pull-right" onclick="ShowEdit(@Model[i].Id);">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                            @*<button type="button" id="delete-btn" class="btn btn-default btn-sm pull-right" onclick="location.href='@Url.Action("Delete","ProjectStatus",new {@id = @Model[i].Id})'">*@
                            <button type="button" id="delete-btn" class="btn btn-default btn-sm pull-right" onclick="DeleteItem(@Model[i].Id)">
                                <span class="glyphicon glyphicon-floppy-remove"></span> Delete
                            </button>
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <div class="panel panel-primary">
                    <div class="panel-body add">
                        <button id="edit-btn" class="btn btn-default btn-sm pull-right" onclick="ShowEdit();">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <input type="submit" id="btn-save" class="hidden" value="Save">
            </div>
        </div>

    }
</div>


<script>

    $(document).ready(function () {
        //set up sortable
        SetUpSortable();

    });

    function ShowEdit(id) {

        event.preventDefault();

        $.ajax({
            type: "GET",
            remote: true,
            url: '@Url.Action("Edit", "ProjectStatus")',
            data: { 'id': id },
            success: function (response) {
                $("#edit-projectstatus").html(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
        return false;
    }

    function AlertDeleted() {
        $.notify('Project status deleted!', {
        });
    }

    function AlertFail() {
        $.notify('The project status that you attempted to delete it is attached to a project therefore it can not be deleted!', {
            type: "danger",
            allow_dismiss: false,
            delay: 2000,
        });
    }

    function DeleteItem(item)
    {
        $.ajax({
            type: "POST",
            data: {id : item},
            url: '@Url.Action("Delete", "ProjectStatus")',
            success: function (response) {
                $('#edit-projectstatus').empty();
                ShowList();
                if (response == 'True') {
                    AlertDeleted();
                } else {
                    AlertFail();
                }
                
            },
            error: function () {
                alert("error occured");
            }
        });

        
    }

</script>
