@model ColeoWeb.Models.ProjectViewModel

@{
    ViewBag.Title = "Edit";
}

@Scripts.Render("~/Scripts/pick-a-color-1.2.3.min.js")
@Scripts.Render("~/Scripts/tinycolor-0.9.15.min.js")
@Styles.Render("~/Content/pick-a-color-1.2.3.min.css")

@using (Ajax.BeginForm("Edit",
                        null,
                        new AjaxOptions
                        {
                            UpdateTargetId = "edit-project",
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            OnSuccess = "ShowList(divList); AlertSave();"
                        },
                        new { @id = "edit-project" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    @Html.HiddenFor(m => m.Order);

    <div>

        <div class="col-md-5">
            <div class="tile">
                <div class="form-group row">
                    <div class="col-md-3">
                        <h4> @Html.DisplayNameFor(m => m.NameUserCreated)</h4>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.NameUserCreated, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <h4> @Html.DisplayNameFor(m => m.Name)</h4>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <h4> @Html.DisplayNameFor(m => m.Description)</h4>
                    </div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "7" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <h4> @Html.DisplayNameFor(m => m.DateCreated)</h4>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.DateCreated, @"{0:dd\/MM\/yy}", new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <h4> @Html.DisplayNameFor(m => m.Status)</h4>
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.IdStatus, Model.Status, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <h4> @Html.DisplayNameFor(m => m.Color)</h4>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Color, new { @class = "pick-a-color form-control", @name = "color-picker" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div type="submit" class="glyphicon-md pull-right" onclick="SaveItem();">
                            <span class="glyphicon glyphicon-floppy-save"></span> Save
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            @Html.Partial("UsersProject")
        </div>

        <input id="item-save" type="submit" class="hidden">

    </div>
}



<script>
    $(document).ready(function () {

        // Set up pick a color
        InitializePickColor();
        InitializeSortable2Lists();
    });



    function AlertSave() {

        var model = @Html.Raw(Json.Encode(Model));

        if (model["Model"] != null) {

            console.log("alert save");
            NotificationAlert('Project status saved!');
        }
    }

</script>
