@model ColeoWeb.Models.ProjectViewModel

@{
    ViewBag.Title = "Project";
}

<h2>Edit Project</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id);

    <div class="row">
        <div class="col-md-12">

            <div class="form-group row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.NameUserCreated)
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.NameUserCreated, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Name)
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Description)
                </div>
                <div class="col-md-5">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "7"})
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.DateCreated)
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.DateCreated, @"{0:dd\/MM\/yy}", new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Status)
                </div>
                <div class="col-md-5">
                    @Html.DropDownListFor(m => m.IdStatus, Model.Status, new { })
                    @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-floppy-save"></span> Save
                    </button>
                </div>
            </div>

        </div>
    </div>
}



