@{
    ViewBag.Title = "Index";
}

<div>
    <div class="row">
        <div id="list-project" class="col-md-8 col-md-offset-2 animated slideInDown">
            @{Html.RenderAction("List");}
        </div>
    </div>

    <div class="row padding-3">
        <div id="functional-buttons" class="col-md-8 col-md-offset-2" style="display:none;">
            <div type="button" class="btn btn-lg btn-round" onclick="FadeToogle();">
                <span class="glyphicon glyphicon-th-list"></span>
            </div>
            <div type="button" class="btn btn-lg btn-round" href="#edit-project" onclick="goToByScroll('functional-buttons'); ShowEdit(null, divEdit); ShowFunctionals(); ">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div type="button" class="btn btn-lg btn-round" onclick="location.href='@Url.Action("Index", "Projects" )'">
                <span class="glyphicon glyphicon-th-large"></span>
            </div>
            @*<div type="button" class="btn btn-danger btn-lg btn-round pull-right" onclick="location.href='@Url.Action("Index", "Projects" )'">
                <span class="glyphicon glyphicon-remove"></span>
            </div>*@
        </div>
    </div>
    
    <div class="row">
        <div id="edit-project" name="edit-project" class="col-md-8 col-md-offset-2">

        </div>
    </div>

</div>



<script>

    $(document).ready(function () {
        //set up notifications defaults
        NotificationDefaults();

        urlEdit = '@Url.Action("Edit", "Projects")';
        urlIndex = '@Url.Action("Index", "Projects")';
        urlList = '@Url.Action("List", "Projects")';
        urlDelete = '@Url.Action("Delete", "Projects")';
        urlOrder = '@Url.Action("Reorder", "Projects")';
        urlDeleteFile = '@Url.Action("DeleteFile", "Projects")';

        divList = $('#list-project');
        divEdit = $('#edit-project');
        divFunc = $('#functional-buttons');


    });


</script>