@{
    ViewBag.Title = "Index";
}

<div>
    <div class="row padding-3">
        <div id="functional-buttons" class="col-md-12" style="display:none;">
            <div type="button" class="btn btn-lg btn-round" onclick="FadeToogle2();">
                <span class="glyphicon glyphicon-th-list"></span>
            </div>
            <div type="button" class="btn btn-lg btn-round" onclick="ShowEdit(null, divEdit);">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div type="button" class="btn btn-lg btn-round" onclick="location.href='@Url.Action("Index", "Projects" )'">
                <span class="glyphicon glyphicon-th-large"></span>
            </div>
            @*<div type="button" class="btn btn-danger btn-lg btn-round pull-right" onclick="location.href='@Url.Action("Index", "Projects" )'">
                <span class="glyphicon glyphicon-remove"></span>
            </div>*@
        </div>
    </div>
    <div class="row">
        <div id="list-project" class="col-md-8 col-md-offset-2">
            @{Html.RenderAction("List");}
        </div>
        <div id="edit-project" class="col-md-8 col-md-offset-2">

        </div>
    </div>
    
</div>



<script>

    $(document).ready(function () {
        //set up notifications defaults
        NotificationDefaults();

        urlEdit = '@Url.Action("Edit", "Projects")';
        urlIndex = '@Url.Action("Index", "Projects")';
        urlList = '@Url.Action("List", "Projects")';
        urlDelete = '@Url.Action("Delete", "Projects")';
        urlOrder = '@Url.Action("Reorder", "Projects")';
        divList = $('#list-project');
        divEdit = $('#edit-project');

        alertDeleteSucces = 'Project deleted!';
        alertDeleteError = 'The project that you attempted to delete it is attached to an issue therefore it can not be deleted!';

        //$("#functional-buttons").hide();

    });

    function FadeToogle2() {
        
        
        if ($("#edit-project").hasClass('col-md-offset-2')) {
            $("#edit-project").removeClass('col-md-offset-2');
            $("#list-project").removeClass("slideOutLeft");
            $("#list-project").addClass("slideInLeft");
        }
        else {
            $("#edit-project").addClass('col-md-offset-2');
            $("#list-project").removeClass("slideInLeft");
            $("#list-project").addClass("slideOutLeft");
        }
        $("#list-project").fadeToggle(500);
    }

</script>