@{
    ViewBag.Title = "Index";
}

<div id="filters" class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-2">
                <div class="tile" onclick="ShowList(divList, 'Order')">
                    <h4 class="title">My order</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tile" onclick="ShowList(divList,'Name')">
                    <h4 class="title">Name</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tile" onclick="ShowList(divList, 'OrderStatus')">
                    <h4 class="title">Status</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tile" onclick="ShowList(divList,'Color')">
                    <h4 class="title">Color</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tile" onclick="ShowList(divList,'DateCreated')">
                    <h4 class="title">Date</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tile" onclick="ShowList(divList, 'OrderParent')">
                    <h4 class="title">Parent project</h4>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="list-project" class="col-md-8 col-md-offset-2">

    @{Html.RenderAction("List");}
</div>



<div id="edit-project" class="col-md-8">

</div>
</div>

<script>

    $(document).ready(function () {
        //set up notifications defaults
        NotificationDefaults();

        urlEdit = '@Url.Action("Edit", "Projects")';
        urlIndex = '@Url.Action("Index", "Projects")';
        urlList = '@Url.Action("List", "Projects")';
        urlDelete = '@Url.Action("Delete", "Projects")';
        urlOrder = '@Url.Action("Reorder", "Projects")';
        divList = $('#list-project');
        divEdit = $('#edit-project');

        alertDeleteSucces = 'Project deleted!';
        alertDeleteError = 'The project that you attempted to delete it is attached to an issue therefore it can not be deleted!';



    });

</script>