@{
    ViewBag.Title = "Index";
}

<div>
    <div class="row">
        <div id="list-project" class="col-md-8 col-md-offset-2 animated slideInDown">
            @{Html.RenderAction("List");}
        </div>
    </div>

    <div class="row padding-3">
        <div id="functional-buttons" class="col-md-12" style="display:none;">
            <div type="button" class="btn btn-lg btn-round" onclick="FadeToogle2();">
                <span class="glyphicon glyphicon-th-list"></span>
            </div>
            <div type="button" class="btn btn-lg btn-round" href="#edit-project" onclick="goToByScroll('edit-project'); ShowEdit(null, divEdit); FadeToogle(); ">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div type="button" class="btn btn-lg btn-round" onclick="location.href='@Url.Action("Index", "Projects" )'">
                <span class="glyphicon glyphicon-th-large"></span>
            </div>
            @*<div type="button" class="btn btn-danger btn-lg btn-round pull-right" onclick="location.href='@Url.Action("Index", "Projects" )'">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>*@
        </div>
    </div>
    
    <div class="row">
        <div id="edit-project" name="edit-project" class="col-md-12">

        </div>
    </div>

</div>



<script>

    $(document).ready(function () {
        //set up notifications defaults
        NotificationDefaults();

        urlEdit = '@Url.Action("Edit", "Projects")';
        urlIndex = '@Url.Action("Index", "Projects")';
        urlList = '@Url.Action("List", "Projects")';
        urlDelete = '@Url.Action("Delete", "Projects")';
        urlOrder = '@Url.Action("Reorder", "Projects")';
        divList = $('#list-project');
        divEdit = $('#edit-project');

        alertDeleteSucces = 'Project deleted!';
        alertDeleteError = 'The project that you attempted to delete it is attached to an issue therefore it can not be deleted!';

        //$("#functional-buttons").hide();

    });

    function FadeToogle() {
        //$("#list-project").removeClass('animated slideInRight slideInLeft');//.addClass("animated slideInRight");
        //$("#list-project").hide();
        //$("#edit-project").removeClass('animated slideInRight slideInLeft').addClass("animated slideInLeft");;//.addClass("animated slideInRight");
        //if (!$("#edit-project").hasClass('col-md-offset-2')) {
        //    $("#edit-project").addClass('col-md-offset-2');
        //}
        $("#functional-buttons").show();

    }

    function FadeToogle2() {

        if ($("#list-project").hasClass('slideInDown')) {
            $("#list-project").removeClass("slideInDown").addClass("slideOutUp");
            $("#edit-project").removeClass("animated slideInUp slideInDown").addClass("animated slideInUp");
        }
        else {

            $("#list-project").removeClass("slideOutUp").addClass("slideInDown");
            $("#edit-project").removeClass("animated slideInUp slideInDown").addClass("animated slideInDown");
        }

        $("#list-project").fadeToggle(500);
    }

</script>