@model IList<ColeoWeb.Models.ProjectViewModel>

@{
    ViewBag.Title = "List";
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-12">
                <h2> <span> Project</span> </h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("List", "Projects", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12">
            <div class="form-group row">
                @for (var i = 0; i < Model.Count; i++)
                {
                    <div class="panel panel-primary tile">
                        <div class="panel-body item" style="background-color: #@Model[i].Color;">
                            @Html.HiddenFor(m => m[i].Id)
                            @Html.HiddenFor(m => m[i].Name)
                            @Html.HiddenFor(m => m[i].Color)

                            @Html.DisplayFor(m => m[i].Name)

                            <button id="edit-btn" class="btn btn-default btn-sm pull-right" onclick="ShowEdit(@Model[i].Id);">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                            <button type="button" id="delete-btn" class="btn btn-default btn-sm pull-right" onclick="DeleteItem(@Model[i].Id)">
                                <span class="glyphicon glyphicon-floppy-remove"></span> Delete
                            </button>
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <div class="panel panel-primary">
                    <div class="panel-body add">
                        <button id="edit-btn" class="btn btn-default btn-sm pull-right" onclick="ShowEdit();">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <input type="submit" id="btn-save" class="hidden" value="Save">
            </div>
        </div>

    }
</div>


<script>

    $(document).ready(function () {
        SetUpSortable();
    });

</script>

<style>
    .tile {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        background: #fff;
        padding: 20px;
        margin-bottom: 30px;
    }
</style>
