@model IList<ColeoWeb.Models.ProjectViewModel>

@{
    ViewBag.Title = "List";
}


<div class="form-group">
    @using (Html.BeginForm("List", "Projects", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12">
            <div id="sortable" class="form-group row">
                <ul class="sortable-list">
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3 padding-3" onclick="MarkCurrent(this);">
                            <li class="sortable-item fall-item fall-effect" style="background-color: #@Model[i].Color;">

                                @Html.HiddenFor(m => m[i].Id, new { @class = "id" })
                                @Html.HiddenFor(m => m[i].Name)
                                @Html.HiddenFor(m => m[i].DateCreated)
                                @Html.HiddenFor(m => m[i].NameUserCreated)
                                @Html.HiddenFor(m => m[i].StatusName)
                                @Html.HiddenFor(m => m[i].ParentName)
                                @Html.HiddenFor(m => m[i].Order, new { @class = "position" })

                                <div class="fall-content">
                                    <h3 title="@Model[i].Name">
                                        @Html.DisplayFor(m => m[i].Name) <br /><br /><br /><br /><br /><br /><br />
                                    </h3>
                                </div>


                                <div class="mask">
                                    <h3>@Html.DisplayFor(m => m[i].Name)</h3>
                                    <p>
                                        <h5>@Html.DisplayNameFor(m => m[i].DateCreated): @Html.DisplayFor(m => m[i].DateCreated)</h5>
                                        <h5>@Html.DisplayNameFor(m => m[i].NameUserCreated): @Html.DisplayFor(m => m[i].NameUserCreated)</h5>
                                        <h5>@Html.DisplayNameFor(m => m[i].StatusName): @Html.DisplayFor(m => m[i].StatusName)</h5>
                                        <h5>@Html.DisplayNameFor(m => m[i].ParentName): @Html.DisplayFor(m => m[i].ParentName)</h5>
                                    </p>
                                    <div title="Edit" class="glyphicon-md pull-right add-tooltip" onclick="goToByScroll('functional-buttons'); ShowFunctionals(); ShowEdit(@Model[i].Id, divEdit);">
                                        <span class="glyphicon glyphicon-edit"></span> &nbsp;
                                    </div>
                                    <div title="Delete" class="glyphicon-md pull-right add-tooltip" onclick="DeleteItem(@Model[i].Id, divList, divEdit, alertDeleteSucces, alertDeleteError)">
                                        <span class="glyphicon glyphicon-trash"></span> &nbsp;
                                    </div>
                                </div>

                            </li>
                        </div>

                    }
                </ul>
            </div>
        </div>
        <input type="submit" id="list-save" class="hidden" value="Save">

    }
</div>

<script>

    $(document).ready(function () {
        SetUpSortable();
        AddTooltip();
    });

</script>

