@model IList<ColeoWeb.Models.ProjectViewModel>

@{
    ViewBag.Title = "List";
}


<div class="form-group">
    @using (Html.BeginForm("List", "Projects", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12">
            <div id="sortable" class="form-group row">
                <ul class="sortable-list">
                    @for (var i = 0; i < Model.Count; i++)
                    {
                    <li class="sortable-item tile" style="background-color: #@Model[i].Color;">
                        @Html.HiddenFor(m => m[i].Id)
                        @Html.HiddenFor(m => m[i].Name)
                        @*@Html.HiddenFor(m => m[i].Description)
                        @Html.HiddenFor(m => m[i].DateCreated)
                        @Html.HiddenFor(m => m[i].Color)
                        @Html.HiddenFor(m => m[i].UserCreated)
                        @Html.HiddenFor(m => m[i].IdStatus)
                        @Html.HiddenFor(m => m[i].UsersProject)*@
                        
                        @Html.HiddenFor(m => m[i].Order, new { @class = "position" })

                        <h4 class="title"> @Html.DisplayFor(m => m[i].Name) </h4>

                        <div title="Edit" class="glyphicon-md pull-right add-tooltip" onclick="ShowEdit(@Model[i].Id, divEdit);">
                            <span class="glyphicon glyphicon-edit"></span> &nbsp;
                        </div>
                        <div title="Delete" class="glyphicon-md pull-right add-tooltip" onclick="DeleteItem(@Model[i].Id, divList, divEdit, alertDeleteSucces, alertDeleteError)">
                            <span class="glyphicon glyphicon-floppy-remove"></span> &nbsp;
                        </div>
                    </li>
                    }
                </ul>
            </div>
            <div class="form-group row">
                <ul class="sortable-list">
                    <li class="tile tile-push">
                        <div title="Add" class="glyphicon-lg add-tooltip" onclick="ShowEdit(null, divEdit);">
                            <span class="glyphicon glyphicon-plus"></span> &nbsp;
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <input type="submit" id="list-save" class="hidden" value="Save">


    }
</div>

<script>

    $(document).ready(function () {
        SetUpSortable();
        AddTooltip();
    });

</script>
